
<div data-sly-use.banner="com.project.core.models.TitleText"></div>
<section class="services-area section-gap">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="menu-content  col-lg-7">
<div class="title text-center">
<h1>${banner.title}</h1>
<p>${banner.info}
<!--You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.-->
</p>
</div>
</div>
</div>
</div>                   
</section>